<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Houses</title>
  <a id="addhouse" href='/houses/new'>Add House</a>
  <a id="outtwo" href="/logout">Logout</a>
</head>
<body id="indexbody">
  <h1 id="working">House List</h1>
  <table id="tables">
    <thead id="toplist">
      <tr>
        <container id="fewlist">
        <th id="topa">Address</th>
        <th id="topb">Bedrooms</th>
        <th id="topc">Bathrooms</th>
        <th id="topd">Squarefeet</th>
      </container>
      </tr>
    </thead>

    <tbody id="donelist">
 
    <% houses.forEach(function(m) { %>
        <tr>
          <td id="lista"><%= m.address %></td>
          <td id="listb"><%= m.bedrooms %></td>
          <td id="listc"><%= m.bathrooms %></td>
          <td id="listd"><%= m.squarefeet%></td>

   
          <td id="review"><a id="revieww" href="/houses/<%= m._id %>">Review</a></td>
        </tr>
        <% }) %>
    </tbody>
  </table>
</body>
</html>